.static-div {
  height: 350px;
  background-color: #000;
  color: #feda4a;
  padding: 100px;
}

.crawl-div {
  width: 100%;
  height: 350px;
  background: #000;
  overflow: hidden;
}

.fade {
  position: relative;
  width: 100%;
  min-height: 60vh;
  top: -25px;
  background-image: linear-gradient(0deg, transparent, black 75%);
  z-index: 1;
}

.star-wars {
  display: flex;
  justify-content: center;
  position: relative;
  height: 800px;
  color: #feda4a;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 500%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  perspective: 400px;
  text-align: justify;
}

.crawl {
  position: relative;
  top: 99999px;
  transform-origin: 50% 100%;
  animation: crawl 60s linear infinite;
}

.crawl > .title {
  font-size: 90%;
  text-align: center;
}

.crawl > .title h1 {
  margin: 0 0 100px;
  text-transform: uppercase;
}

@keyframes crawl {
    0% {
    top: -100px;
    transform: rotateX(15deg)  translateZ(0);
  }
    100% { 
    top: -6000px;
    transform: rotateX(20deg) translateZ(-2500px);
  }
}

.overlay {
  position: fixed;
  width: 1140px;
  height: 350px;
  top: 0;
  left: 113px;
  right: 0;
  bottom: 0;
  z-index: 2;
  cursor: pointer;
}

.ovarlay-button {
  margin: 150px auto auto 550px;
}
.overlay-btn {
  background-color: transparent;
  padding: 20px;
  border: none;
  color: white;
}
.icon-size {
  font-size: 3em;
}